# Caché de Python
__pycache__/
*.py[cod]

# Entorno virtual
.venv/
venv/
env/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Credenciales de prueba
credenciales_prueba.md

#llave fernet
clave.key